.button {
  background-color: var(--orange-500);
  box-shadow: var(--shadow-orange-300);
  border: none;
  border-radius: 0.625rem;
  padding-block: 1rem;
  padding-inline: 4.5rem;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: var(--grey-950);
  transition: background-color 100ms ease-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & svg {
    block-size: 1rem;
  }

  &:is(:hover, :focus-visible) {
    background-color: var(--orange-300);
  }
}
