.navigation {
  display: flex;
  justify-content: space-between;
  & button {
    background-color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 1rem;
  }
  & svg {
    color: var(--grey-950);
    block-size: 11.43px;
  }
  & button:hover svg {
    color: red;
  }
}
