.label {
  position: relative;
  inline-size: 1.75rem;
  block-size: 1.625rem;

  & svg {
    block-size: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  & output {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    line-height: 0;
    block-size: 0.8125rem;
    inline-size: 1.1875rem;
    background-color: var(--orange-500);
    border-radius: 0.40625rem;
    color: var(--white);
    font-size: 0.625rem;
    font-weight: bold;
  }
}
