.currentimage {
  position: relative;

  & > button > img {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    aspect-ratio: 448/445;
    block-size: var(--image-height, 100%);
  }
  & > button {
    display: block;
    background-color: transparent;
    border: none;
    inline-size: 100%;
  }
}

.navigation {
  position: absolute;
  inline-size: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.embeddedgallery {
  & > * + * {
    margin-block-start: 2rem;
  }
  @media (min-width: 64em) {
    max-inline-size: 28rem;
  }
  inline-size: 100%;
}

.embeddedgallery .currentimage {
  --image-height: 18.75rem;
  block-size: var(--image-height);
  overflow: hidden;
  pointer-events: none;
  cursor: initial;
  @media (min-width: 38em) {
    border-radius: 0.9375rem;
  }
  @media (min-width: 64em) {
    --image-height: 27.8125rem;
    pointer-events: all;
    cursor: inherit;
  }
}

.embeddedgallery .navigation {
  @media (min-width: 64em) {
    display: none;
  }
  padding-inline: 1rem;
}

.lightboxgallery .currentimage {
  inline-size: 34.375rem;
  margin-block-start: 1.5rem;
  margin-block-end: 2.5rem;
  & img {
    border-radius: 0.9375rem;
  }
}

.lightboxgallery .navigation {
  inline-size: 37.875rem;
  left: -1.75rem;

  & button {
    inline-size: 3.5rem;
  }
}

.lightboxgallery .thumbnailwrapper {
  padding-inline: 3.1875rem;
}

.lightboxdialog {
  @media (max-width: 64em) {
    display: none;
  }
  border: none;
  margin: auto;
  background-color: transparent;
  overflow: initial;
  &::backdrop {
    background-color: var(--black);
    opacity: 75%;
  }
}

.closebutton {
  display: block;
  background-color: transparent;
  border: none;
  color: var(--white);
  margin-inline-start: auto;
  &:is(:hover, :focus-visible) {
    color: var(--orange-500);
  }
  & svg {
    block-size: 1.25rem;
    inline-size: 1.25rem;
  }
}
