.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  min-block-size: 2.5rem;
  min-inline-size: 2.5rem;
  pointer-events: all;

  & svg {
    color: var(--grey-950);
    block-size: 28.57%;
  }

  &:is(:hover, :focus-visible) svg {
    color: red;
  }
}
