.popover {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 5.875rem;
  translate: -50% 0;
  left: 50%;
  @media (min-width: 768px) {
    left: min(61.9375rem + (100vw - 69.375rem) / 2, 100vw - 11.25rem);
  }
  box-shadow: var(--shadow-grey-950);
  @supports (bottom: anchor(bottom)) {
    @media (min-width: 768px) {
      left: min(anchor(center), 100vw - 11.25rem);
    }
  }
}

.shopbutton {
  border: none;
  background-color: transparent;
  color: var(--grey-500);
  transition: color 150ms ease-out;
  & svg {
    transition: color 150ms ease-out;
  }
  & svg:hover {
    color: var(--orange-300);
  }
}
.header {
  inline-size: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-inline: 1.484375rem;
  & .headercontent {
    padding-block-start: 1.1875rem;
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 608px) {
    border-block-end: 1px solid var(--grey-100);
    padding-block-start: 0;
    padding-inline: 0;
    padding-block-end: 33px;
  }
}

.usersection {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    display: inline-block;
  }

  gap: clamp(1.5rem, 0.0687rem + 6.1069vw, 3rem);
}

.menunavigation {
  display: flex;
  align-items: baseline;
  gap: 1rem;

  button {
    @media (min-width: 1024px) {
      display: none;
    }
    & svg {
      block-size: 1rem;
      inline-size: 0.9375rem;
      &:hover {
        color: var(--grey-950);
      }
    }
    background-color: transparent;
    border: none;
    color: var(--grey-500);
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 3.5rem;

  & .mainnavigation {
    display: flex;
    @media (max-width: 1024px) {
      display: none;
    }
    font-size: 0.9375rem;
    gap: 2rem;

    & a {
      transition: color 150ms ease-out;
    }
    & a.selected,
    a:hover {
      display: block;
      position: relative;
      color: var(--grey-950);

      &::after {
        content: "";
        position: absolute;
        bottom: -2.875rem;
        background-color: var(--orange-500);
        height: 0.25rem;
        width: 100%;
        display: block;
      }
    }
  }
}

.avatarlink {
  &:has(:hover, :focus-visible, :focus) img {
    outline: 0.125rem solid var(--orange-500);
    outline-offset: -0.125rem;
  }
  img {
    border-radius: 50%;
    inline-size: clamp(
      1.5rem,
      -0.0506rem + 6.6158vw,
      3.125rem
    ); /* maybe not control size directly but through parent?*/

    @container (min-width: 375px) {
      inline-size: clamp(1.5rem, -0.0506rem + 6.6158cqi, 3.125rem);
    }
  }
}

.logo {
  inline-size: 8.59375rem;
  block-size: 1.25rem;
}

.navigationdialog {
  @media (min-width: 1024px) {
    display: none;
  }
  border: none;
  min-inline-size: 15.625rem;
  block-size: 100dvh;
  padding-inline-start: clamp(1.5rem, -1.8397rem + 14.2494vw, 5rem);
  padding-block-start: clamp(1.5rem, 0.0687rem + 6.1069vw, 3rem);
  inline-size: 39.19%;
  max-inline-size: 18.8125rem;
  & nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
  }
  & nav a {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: bold;
    transition: color 150ms ease-out;

    &:hover {
      color: var(--orange-500);
    }
  }
  & button {
    margin-block-end: 2rem;
    background-color: transparent;
    border: none;
    color: var(--grey-500);
    transition: color 150ms ease-out;
    :hover {
      color: var(--orange-500);
    }
    & svg {
      block-size: 0.84rem;
      inline-size: 0.84rem;
    }
  }
  &::backdrop {
    background-color: var(--black);
    opacity: 75%;
  }
}
