*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  max-inline-size: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}

@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  src: local("Kumbh Sans"),
    url("fonts/KumbhSans-VariableFont_YOPQ,wght.ttf") format("truetype");
}

:root {
  --font-base: "Kumbh Sans", "sans-serif";
  --orange-500: hsl(26, 100%, 55%);
  --orange-300: hsl(26, 100%, 71%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey-50: hsl(223, 64%, 98%);
  --grey-100: hsl(219, 35%, 92%);
  --grey-300: hsl(221, 22%, 81%);
  --grey-500: hsl(219, 9%, 45%);
  --grey-950: hsl(220, 13%, 13%);
  --shadow-orange-300: 0px 20px 50px 0px hsla(26, 100%, 55%, 0.25);
  --shadow-grey-950: 0px 20px 50px 0px hsla(220, 13%, 13%, 0.1);
}

body {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--grey-500);
}

h1 {
  font-weight: bold;
  font-size: clamp(1.75rem, 0.7958rem + 4.0712vw, 2.75rem);
  line-height: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
  color: var(--grey-950);
}

.appwrapper {
  margin: auto;
  max-inline-size: 608px;
  @media (min-width: 1024px) {
    max-inline-size: 1110px;
  }
  & > main {
    margin-block-start: clamp(1.5rem, 0.0687rem + 6.1069vw, 3rem);
    @media (min-width: 1024px) {
      margin-block-start: 96px;
      padding-inline: 44.5px;
    }
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
