.thumbnailnavigation {
  display: none;
  @media (min-width: 1024px) {
    display: grid;
  }
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  gap: 2rem;

  & input[type="radio"] {
    appearance: none;
    position: absolute;
  }
  & img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
  & label {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  & label:not(:has(input:checked)):hover {
    opacity: 50%;
  }

  & label:has(input:checked) {
    position: relative;
    outline: 3px solid var(--orange-500);
    background-color: var(--white);
    & img {
      opacity: 25%;
    }
  }
}
