.thumbnailnavigation {
  display: none;
  @media (min-width: 64em) {
    display: grid;
  }
  grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
  gap: 2rem;

  & input[type="radio"] {
    appearance: none;
    position: absolute;
  }
  & img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    transition: opacity 150ms ease-out;
  }
  & label {
    border-radius: 0.625rem;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--white);
  }
  & label:not(:has(input:checked)):is(:hover, :focus-visible) {
    img {
      opacity: 50%;
    }
  }

  & label:has(input:checked) {
    position: relative;
    outline: 0.1875rem solid var(--orange-500);

    & img {
      opacity: 25%;
    }
  }
}
